@page
@model Demo.Pages.Admin.countryModel
@{
}



<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid"> 
            <!-- 1st container fluid start-->
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Countries</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="index">Home</a></li>
                        <li class="breadcrumb-item active">DataTable</li>
                    </ol>
                </div>
            </div>
        </div><!-- / 1st container-fluid ends-->
    </section>

    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- Countrise validation -->
                <div class="card card-primary  card-outline card-info">

                    <h5 class="ml-3">Country Form</h5>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <div class="card-body">

                            <div class="row">
                                <input type="hidden" asp-for="CountryModel.Id" />


                                <div class="col-md-4">

                                    <label class="ml-2">Country Code</label>
                                    <input type="text" asp-for="CountryModel.CountryCode" class="form-control " placeholder=" Code" required>
                                </div>

                                <div class="col-md-4">
                                    <label class="ml-2">Country Short Name</label>
                                    <input type="text" asp-for="CountryModel.ShortName" class="form-control " placeholder=" Short Name" required>
                                </div>

                                <div class="col-md-4">
                                    <label class="ml-2">Country Full Name</label>
                                    <input type="text" asp-for="CountryModel.FullName" class="form-control " placeholder=" Full Name" required>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="text-center mt-3">

                                @if (Model.CountryModel.Id != 0)
                                {
                                    <button type="submit" class="btn btn-info">UPDATE</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-info">SUBMIT</button>
                                }
                            </div>
                        </div>
                    </form>
                </div>

                <form method="post">
                    <div class="card-body card card-outline card-success pl-1">
                        <div class="card-header">
                            <h3 class="mr-2">Countries Datalist</h3>
                        </div>
                        <table id="example1" class="table table-bordered table-striped">  <!--For drop menu-->
                            <thead>
                                <tr>
                                    <th scope="col">Country Code</th>
                                    <th scope="col"> Short Name</th>
                                    <th scope="col"> Full Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.datalist.Count() > 0)
                                {
                                    foreach (var item in Model.datalist)
                                    {
                                        <tr>
                                            <td>@item.CountryCode</td>
                                            <td>@item.ShortName</td>
                                            <td>@item.FullName</td>
                                            <td>
                                                <a asp-page="country" asp-route-id="@item.Id" class="btn btn-success">EDIT</a>


                                                <button asp-page-handler="Delete" asp-route-id="@item.Id"
                                                onclick="return confirm('Are you sure you want to DELETE?')" class="btn btn-danger">
                                                    DELETE
                                                </button>

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>No data found</tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @{
        if (TempData["success"] != null)
        {
            <script type="text/javascript">
                toastr.success('@TempData["success"]');
            </script>
        }

        if (TempData["error"] != null)
        {
            <script type="text/javascript">
                toastr.success('@TempData["error"]');
            </script>
        }
        if (TempData["info"] != null)
        {
            <script type="text/javascript">
                toastr.success('@TempData["info"]');
            </script>
        }
    }

}


